@page "/contacts"
@inject NavigationManager uriHelper
@inject TgrmAuth tgrmAuth
@inject IAccountService  service

@if (!tgrmAuth.IsAuthentificated)
{
    uriHelper.NavigateTo("login");
}


<div class="container">
    <div class="row">
        <div class="col-sm-8"><h2>Аккаунты</h2></div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-info" @onclick="Add"><i class="fa fa-plus"></i> Добавить</button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Телефон</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Account acc in accs)
                {
                    <tr id="@acc.Id">
                        <td>@acc.Tels</td>
                        <td>
                            <a @onclick="@(e => Edit(acc.Id))" style="cursor:pointer" class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons">edit</i></a>
                            <a @onclick="@(e => Delete(acc.Id))" style="cursor:pointer" class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
                @if (addMode)
                {
                    <tr>
                        <td><input type="tel" class="form-control" @bind="@acc.Tels" /></td>
                        <td><button type="button" class="btn btn-primary" @onclick="AddRow">+</button></td>
                    </tr>
                }
                @if (editMode)
                {
                    <tr>
                        <td><input type="tel" class="form-control" @bind="@acc.Tels" /></td>
                        <td><button type="button" class="btn btn-primary" @onclick="Update">+</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    bool addMode = false;
    bool editMode = false;
    IEnumerable<Account> accs;
    Account acc = new Account();
    int currentCount = 0;

    protected override void OnInitialized()
    {
        if (tgrmAuth.IsAuthentificated)
        {
            RefreshList();
        }
    }

    private void Add()
    {
        addMode = !addMode;
    }

    private async Task AddRow()
    {
        await service.Add(acc);
        addMode = !addMode;
        RefreshList();
        acc  = new Account();
    }

    private void RefreshList()
    {
        accs = service.GetAll();
    }

    private void Edit(long Id)
    {
        acc = accs.First(p => p.Id == Id);
        editMode = !editMode;
    }

    private void Update()
    {
        service.Update(acc);
        editMode = !editMode;
        acc = new Account();
        RefreshList();
    }

    private void Delete(long id)
    {
        service.Delete(id);
        RefreshList();
    }
}
